
<script src="/js/addparking.js" defer></script>


{{#if error}}
<p>{{error}}</p>
{{/if}}

<form id="newparking" method="POST">
  <div>
    <label for="name">Название</label>
    <input class="inpt" type="text" name="name" required value="{{data.name}}">

  </div>
  <div>
    <label for="Position">Адресс</label>
    <input class="inpt" type="text" name="position" required value="{{data.position}}">
  </div>
  <div>
    <label for="description">Описание</label>
    <input class="inpt" type="text" name="description" required value="{{data.description}}">
  </div>
  <div>
    <label for="countAll">Колличество парковок</label>
    <input class="inpt" type="text" name="countAll" required value="{{data.countAll}}">
  </div>
  <div>
    <label for="price">Цена за час</label>
    <input class="inpt" type="text" name="price" required value="{{data.price}}">
  </div>
  <input class="btn" type="submit" value="Отправить">

</form>

