<script src="/js/parkingOne.js" defer></script>
<div class="page-header">
    <h1>Welcome</h1>
</div>

{{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/org">Home</a></li>
                
                {{!-- <a><a href="/org/parking">Мои парковки</a></a> --}}
                <li><a href="/org/newParking">Создать новую парковку</a></li>
                
                {{!-- <li><a href="/signup">Sign Up</a></li> --}}
                {{!-- <li><a href="/dashboard">Dashboard</a></li> --}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{!-- <li><a href="/login">Log In</a></li> --}}
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> --}}
<div id='parkingDescription'>
  <h2>{{parking.name}}</h2>
  <ul>
    <li>{{parking.position}}</li>
    <li>{{parking.description}}</li>
    <li>{{parking.countAll}}</li>
    <li>{{parking.price}}</li>
  </ul>
</div>

<form action="/org/delete" method="POST">
  <input type="hidden" name="id" value="{{parking._id}}">
  <button type="submit">Удалить парковку</button>
</form>

<div>
<button class='editOneParkingButton' type="submit">Изменить</button>
</div>
  <span style="color:green" class="editMessageSpan"></span>
<div id='editFormOpen' data-idpark="{{parking._id}}">
</div>


