<script src="/js/parkingOne.js" defer></script>

<div>
  <h1>{{parking.name}}</h1>
  <ul>
    <li>Местоположение<br>{{parking.position}}</li>
    <li>Описание<br>{{parking.description}}</li>
    <li>Парковочных мест <br>{{parking.countAll}}</li>
    <li>Свободных парковок <br>{{parking.countNow}}</li>
    <li>Цена за час <br>{{parking.price}} руб.</li>

  </ul>
  <div class="btnLinks">
    <div>
      <form action="/org/delete" method="POST">
        <input type="hidden" name="id" value="{{parking._id}}">
        <button class="btn bcRed" type="submit">Удалить парковку</button>
      </form>
    </div>
    <div id="signUpLink" style="display: none;">
      <div>
        <button class='editOneParkingButton btn' type="submit">Изменить</button>
      </div>
    </div>
  </div>
</div>

<div id='editFormOpen' data-idPark="{{parking._id}}"></div>